In [1]:
%pip install pyodbc
%pip install sqlalchemy[pyodbc]

Requirement already satisfied: pyodbc in c:\users\mathe\anaconda3\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: sqlalchemy[pyodbc] in c:\users\mathe\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mathe\anaconda3\lib\site-packages (from sqlalchemy[pyodbc]) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mathe\anaconda3\lib\site-packages (from sqlalchemy[pyodbc]) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: sqlalchemy 2.0.34 does not provide the extra 'pyodbc'

In [2]:
import pandas as pd

In [6]:
from sqlalchemy import create_engine, text

# Configuração da string de conexão
server = 'MATHEUS'
database = 'SUCOS_FRUTAS'

# Autenticação do Windows
connection_string = f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&Trusted_Connection=yes"
engine = create_engine(connection_string)

# Criando função que executa uma query SQL e retorna um DataFrame
def sql_df(query):
    with engine.connect() as conexao:
        consulta = conexao.execute(text(query))
        dados = consulta.fetchall()
    return pd.DataFrame(dados, columns=consulta.keys())

In [8]:
df = sql_df('''
                SELECT * 
                FROM ITENS_NOTAS_FISCAIS
                WHERE NUMERO = 100;
            ''')
df

   NUMERO CODIGO_DO_PRODUTO  QUANTIDADE    PRECO
0     100           1013793          63  24.0100
1     100           1101035          26   9.0105
2     100            520380          67  12.0110
3     100            773912          66   8.0080